/* MenuBar styles */
.menu-bar {
  background-color: #026aa7;
  color: white;
  justify-content: space-between;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 12px;
  
}



/* SideBar styles */
.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  width: auto;
  height: calc(100% - 50px);
  background-color: #333;
  color: white;
  padding: 10px;
  overflow-y: auto;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  transition: all 0.3s ease;
  width: 50px;
}

.sidebar a i {
  margin-right: 100px;
}

.sidebar a:hover {
  background-color: white;
  color: #333;
}

/* Main content styles */
.main-content {
  margin-left: 00px;
  padding: 20px;
}

/* Create Box styles */
.add-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170px;
  background-color: rgb(234, 228, 228);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}

.add-box span {
  font-size: 40px;
  font-weight: bold;
}

.add-box p {
  margin-top: 10px;
}
